<div class="QuoteView">
    <div class="panel panel-default cc_panel cc_myaccount_mywishlist"> <div class="panel-heading cc_heading">
        <h3 class="panel-title cc_title">{{pageLabelMap 'MyAccount_MyQuotes'}}
        </h3>
    </div>
    <div class="panel-body cc_body cc_myaccount_content">
        {{!-- <p class="cc_create_wishlist"> --}}
            <div class="orderPaginationSec" />
                <div class="table-responsive">
                    <table id="cartTable" class="table table-hover cc_table cc_mywishlist_table">
                        <tr class="cc_table_header_row">
                            <th class="cc_table_header">
                                <span class="cc_table_header_name">{{pageLabelMap 'MyAccount_Name'}}</span>
                            </th>
                            <th class="cc_table_header">
                                <span class="cc_table_header_date">{{pageLabelMap 'MyCartsInc_LastUpdate'}}</span>
                            </th>            
                        </tr>
                        <tbody id="MyQuotesData">
                        </tbody>
                    </table>
                </div>
    
            </div>
    </div>
</div>