<div class="messagingSection-Error" style="display: none"></div>
  <div class="messagingSection-Warning" style="display: none"></div>
  <div class="messagingSection-Info" style="display: none"></div>
  <div class="row cc_list_footer">
   <div class="col-md-12">
    {{#if bufferHasMore}}
     <button type="button" class="btn btn-default center-block cc_show_more">{{pageLabelMap 'ProductList_ShowMoreBtn' this.pageSize}}</button>
    {{/if}}
    <br />
   </div>
  </div>