<div class="massOrder-content">
    <div id="dealerorderreference">
    <h2>Load Dealer Order</h2>
        <div id="quickorderreference">
            <p>Select a .csv file or a tab separated .txt to load your order</p>
            <div class="uploader"><input type="file" accept=".csv" id="myfile" name="csv_file" title="select your order file"></div><br/>
            <div>
                <input type="submit" name="update_cart" id="uploadCsv" value="Update Cart" class="button">
            </div>
        </div>
    </div>
</div>